.container {
    background-color: #2262c6;
    width: 20%; 
    height: 100vh; 
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    position: fixed;
    top: 80px;
    left: 0;
}
