.searchContainer {
    flex: 1;
    margin: 0 20px;
    position: relative;
}

.searchInput {
    width: 40%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 10px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: #f0f2f8;

    &:focus {
        border-color: #2684fc;
    }

    &::placeholder {
        color: #888;
    }
}
