@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

}






.container {
    width: 100%;
    background-color: white;
    padding: 0;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center; // pour aligner verticalement les éléments

    .logoContainer,
    .iconContainer,
    .userBadgeContainer {
        margin-right: 20px; // ajustez cette valeur selon votre préférence
    }
}

.iconContainer {
    display: flex;
    align-items: center;
    gap: 10px;  // Espace entre les icônes
}

.iconStyle {
    width: 20px;   // Ajustez selon vos préférences
    height: auto;
}
